<!-- Look for your navigation menu section, which might look something like this: -->
<ul class="navbar-nav" or <ul class="nav">
    <!-- Existing menu items -->
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/victim">Victim</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/volunteer">Volunteer</a>
    </li>
    
    <!-- Add the new menu item here -->
    <li class="nav-item">
      <a class="nav-link" href="/resource-forecast">
        <i class="fas fa-chart-line"></i> Resource Forecast
      </a>
    </li>
  </ul>
  